
  span.skill {
    display: inline-block;
    background-color: lightgreen;
    color: black;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid green;
    font-size: 14px;
  }
  span.date {
    color: green;
    font-style: italic;
    text-align: right;
  }
  span.bread-text {
    display: inline-block;
    width: 320px;
    word-wrap: break-word; /* Bryter ord til neste linje hvis nødvendig */
  }
  h6 {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 30px;
  }
  body {
    width: 800px;         /* ca. A4-bredde på skjerm */
    margin: 0 auto;       /* sentrerer horisontalt */
    background: white;    /* hvit bakgrunn (som et ark) */
    padding: 20px;        /* luft innenfor kantene */
    font-family: Arial, sans-serif; /* pen standard font */
  }
