body {
    max-width: 80ch;
    /* maks bredde på teksten */
    margin: 0 auto;
    /* sentrerer blokken horisontalt */
    text-align: left;
    /* venstrejusterer teksten inne i blokken */
}

p {
    font-size: 20px;
    line-height: 30px;
}

ul {
    font-size: 25px;
    line-height: 35px;
}